streamlit
qrcode[pil]
pandas
openpyxl
reportlab
fastapi 
uvicorn 
jinja2 
python-multipart 
itsdangerous
argon2-cffi
passlib[argon2]
dotenv
sqlalchemy
databases[sqlite]
python-dotenv
passlib[bcrypt]
qrcode[pil]